/*----------------------------
			Main
----------------------------*/
@font-face {
	font-family:"digital";
	src:url(DS-DIGIB.TTF);
}
@font-face {
	font-family:"bebas";
	src:url(BebasNeue.otf);
}
body {
	user-select: none;
	-webkit-user-select:none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	overflow-x:hidden;
	font-family: "bebas";
	color:#1C1C1C;
}
header {
	height:110px;
	font-size:60px;
	width: 100%;
	text-align: center;
	white-space:nowrap;
	margin-bottom: -10px;
}
.container {
	margin: 0 auto;
	width:380px;
}
.clock {
	background: #1C1C1C;
	font-family: "digital";
	color: #FFF;
}
.button:hover {

}

/*----------------------------
		Result Clock
----------------------------*/

#result-clock {
	width: 100%;
	padding-left: 20px;
}
#result-clock table{
	width: 100%;
	font-size: 58px;
	height: 68px;
}
#result-clock table tr td {
	width: 54px;
}
#result-clock table tr td#dec {
	font-size: 20px;
	margin-top: 15px;
	position: absolute;
}
#result-clock table tr td#colon {
	font-size: 54px;
	padding-left: 7px;
}


/*----------------------------
			Input 
----------------------------*/
.item {
	width: 100%;
	height: 96px;
}
.title {
	font-size: 42px; 
	width: 100px;
	text-align: center;
}
.divider {
	width: 4px;
}
.divider div.bar {
	background: #1C1C1C;
	height: 48px;
	position: relative;
	margin-top: -6px;
}
/*----------------------------
			EVENT
----------------------------*/
table#event-table {
	width:228px;
	margin-left: 10px;
	margin-top: -5px;
}
table#event-table tr td {
	width:100px;
	text-align: center;
	font-size: 24px;
}
table#event-table tr td.mid {
	font-size: 20px;
	padding-top: 2px;
}
table#event-table tr td.end {
	font-size: 16px;
	color: #6D6D6D;
	padding-top: 4px;
}
table#event-table tr td.end#left {
	text-align: right;
}
table#event-table tr td.end#right {
	text-align: left;
}
/*----------------------------
			PACE
----------------------------*/
table#pace-table {
	width:228px;
	height: 62px;
	margin-left: 10px;
	margin-top: -5px;
}
table#pace-table tr td {
	width:100px;
	text-align: center;
	font-size: 38px;
}
/*----------------------------
			SPLIT
----------------------------*/
table#split-table {
	width:228px;
	margin-left: 10px;
	margin-top: -5px;
}
table#split-table tr td {
	width:100px;
	text-align: center;
	font-size: 24px;
}
.selected-split {
	color: #FFF;
	background: #1C1C1C;
	height: 44px;
	padding-top: 6px;
	padding-bottom: 4px;
	margin-top: -2px;
}
/*----------------------------
		Responsive CSS
----------------------------*/

@media (min-width: 675px) {
	header {
		font-size: 100px;
	}
	.container {
		width: 600px;
	}
	#result-clock table {
		height: 142px;
	}
}
