/*----------------------------
		Responsive CSS
----------------------------*/

@media (min-width: 675px) {
	body {
		zoom: 1;
		-moz-transform: scale(1);
		-moz-transform-origin: 0 0;
	}
	header,
	header a {
		font-size: 112px;
	}
	.container {
		width: 600px;
	}
	/*----------------------------
				Input
	----------------------------*/
	.item {
		width: 100%;
		height: 160px;
	}
	.title {
		font-size: 54px;
		width: 140px;
		text-align: center;
	}
	.divider {
		min-width: 6px;
	}
	.divider div.bar {
		background: #1c1c1c;
		height: 68px;
		position: relative;
		margin-top: -6px;
	}

	/*----------------------------
				EVENT
	----------------------------*/
	#event-item {
		margin-top: 40px;
	}
	table#event-table {
		width: 420px;
		margin-left: 24px;
		margin-top: -5px;
	}
	table#event-table tr td {
		width: 100px;
		text-align: center;
		font-size: 36px;
	}
	table#event-table tr td.mid {
		font-size: 28px;
		padding-top: 2px;
	}
	table#event-table tr td.end {
		font-size: 20px;
		color: #6d6d6d;
		padding-top: 4px;
	}
	table#event-table tr td#event2 {
		width: 100px;
	}
	/*----------------------------
				DIST
	----------------------------*/
	table#dist-table {
		width: 420px;
		margin-left: 24px;
		margin-top: -5px;
	}
	table#dist-table tr td.gap {
		width: 100px;
	}
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		outline: none;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
	table#dist-table tr td#dist-input-td {
		width: 220px;
		height: 52px;
	}
	table#dist-table tr td#dist-input-td input#dist-num {
		border: none;
		font-size: 52px;
		text-align: right;
		height: 52px;
		width: 220px;
		padding: 10px;
	}
	table#dist-table tr td#dist-unit-td {
		color: #fff;
		background: #1c1c1c;
		height: 44px;
		padding-top: 6px;
		padding-bottom: 4px;
		margin-top: -2px;
		font-size: 30px;
		text-align: center;
		width: 100px;
	}
	/*----------------------------
				TIME
	----------------------------*/
	#time-item {
		margin-top: -50px;
	}
	table#time-table {
		width: 420px;
		margin-left: 24px;
		margin-top: -5px;
	}
	table#time-table tr.arrows {
		font-size: 12px;
		height: 14px;
		margin-left: 20px;
	}
	table#time-table tr.arrows#bottom-arrows {
		height: 26px;
	}
	table#time-table tr.arrows td {
		text-align: center;
	}
	table#time-table tr#time-clock {
		height: 108px;
	}
	table#time-table tr#time-clock td {
		text-align: center;
		font-size: 60px;
	}
	/*----------------------------
				SPLIT
	----------------------------*/
	#split-item {
		margin-top: 0px;
	}
	table#split-table {
		width: 420px;
		margin-left: 24px;
		margin-top: -5px;
	}
	table#split-table tr td {
		width: 80px;
		text-align: center;
		font-size: 30px;
	}
	table#split-table tr td:hover {
		cursor: pointer;
	}
	.selected-split {
		color: #fff;
		background: #1c1c1c;
		height: 44px;
		padding-top: 6px;
		padding-bottom: 4px;
		margin-top: -2px;
	}

	/*----------------------------
			RESULT CLOCK
	----------------------------*/
	#result-clock {
		margin-top: -60px;
		padding-left: 31px;
	}
	#result-clock table {
		height: 142px;
	}
	#result-clock table {
		font-size: 100px;
	}
	#result-clock table tr td {
		width: 88px;
	}
	#result-clock table tr td#dec {
		font-size: 38px;
		margin-top: 24px;
	}
	#result-clock table tr td#colon {
		font-size: 90px;
		padding-left: 13px;
	}
	/*----------------------------
			 	AD
	----------------------------*/
	.item#ad {
		margin-top: 28px;
	}

	/*----------------------------
			 	TEXT
	----------------------------*/
	#share-item {
		margin-top: 30px;
	}
	#share-item:hover {
		cursor: pointer;
	}
	#share-item table tr td#link div#select {
		margin-left: 24px;
		font-size: 40px;
		text-align: center;
		width: 420px;
	}
	#blog-item {
		margin-top: -50px;
	}
	#blog-item table tr td div#blog-link {
		margin-left: 24px;
		font-size: 40px;
		text-align: center;
		width: 420px;
	}
	.item#p {
		margin-top: -50px;
		font-size: 14px;
		text-align: justify;
		font-family: Arial;
	}
}
