@use 'variables' as *;

@font-face {
	font-family: $digitalFontFamily;
	src: url(/font/MONOFONT.TTF);
}

html,
body {
	font-family: $bebasFontFamily;
	margin: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	color: $black;
}

::selection {
	color: #fff;
	background: $black;
	opacity: 1;
}
