$backgroundColor: #1C1C1C;

$bebasFontFamily: 'bebas';
$digitalFontFamily: 'digital';

:global(::selection) {
  color: #FFF;
  background: $backgroundColor;
  opacity: 1;
}

@font-face {
  font-family: $digitalFontFamily;
  src: url(/font/MONOFONT.TTF);
}

@font-face {
  font-family: $bebasFontFamily;
  src: url(/font/BebasNeue.otf);
}

:global(html),
:global(body) {
  font-family: $bebasFontFamily;
  margin: 0;
  width: 100%;
  height: 100%;
}